.homepage-banner {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center; /* Center the image horizontally */
}
.homepage-banner .homepage-img {
  width: 100%; /* Full width */
  max-width: 1200px; /* Set a max width to avoid it being too large */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image */
}
